### Copy function

In [1]:
info_1={'Ron':101,'John':102,'Rick':103}

In [2]:
info=info_1.copy()

In [3]:
info

{'Ron': 101, 'John': 102, 'Rick': 103}

In [8]:
#This type of copying is called shallow copying. In this method any change made to the copy of the object will also reflect in the original object. To counter that there is another method called deep copying.

### Example

In [4]:
msg={'A':'sleep','B':'eat','x':['play','study']}

In [5]:
msg

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'study']}

In [6]:
inform=msg.copy()

In [7]:
print(f'msg:{msg}')
print(f'inform:{inform}')

msg:{'A': 'sleep', 'B': 'eat', 'x': ['play', 'study']}
inform:{'A': 'sleep', 'B': 'eat', 'x': ['play', 'study']}

In [9]:
#Inorder to illustrate the difference between deep copy and shallow copy, lets change the value of 'Study' to 'Cook'

In [11]:
inform['x'][1]='cook'
inform

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'cook']}

In [12]:
#Now lets printthe original dictionary

In [13]:
print(msg)

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'cook']}

In [14]:
# We can see the change has reflected in the original dictionary as well

### Deep copy

In [15]:
# Deep copy needs a tool named 'copy' to be imported

In [16]:
import copy

In [17]:
msg={'A':'sleep','B':'eat','x':['play','study']}

In [18]:
inform=copy.deepcopy(msg)

In [19]:
inform

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'study']}

In [20]:
msg

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'study']}

In [21]:
inform['x'][1]='cook'

In [22]:
inform

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'cook']}

In [23]:
msg

{'A': 'sleep', 'B': 'eat', 'x': ['play', 'study']}

In [24]:
# We can see that the values have not changed

In [25]:
info = {'a':'soap','b':'book','c':'cpu'}

In [26]:
info1=copy.deepcopy(info)

In [28]:
info1['c']='mouse'

In [29]:
info1

{'a': 'soap', 'b': 'book', 'c': 'mouse'}

In [30]:
info

{'a': 'soap', 'b': 'book', 'c': 'mouse'}

In [31]:
import pandas as pd

In [32]:
data=pd.read_csv('./Medical_Cost.csv')

In [33]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [34]:
df=data.copy()

In [35]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [36]:
df.drop(columns='age',inplace=True)

In [37]:
df

         sex     bmi  children smoker     region      charges
0     female  27.900         0    yes  southwest  16884.92400
1       male  33.770         1     no  southeast   1725.55230
2       male  33.000         3     no  southeast   4449.46200
3       male  22.705         0     no  northwest  21984.47061
4       male  28.880         0     no  northwest   3866.85520
...      ...     ...       ...    ...        ...          ...
1333    male  30.970         3     no  northwest  10600.54830
1334  female  31.920         0     no  northeast   2205.98080
1335  female  36.850         0     no  southeast   1629.83350
1336  female  25.800         0     no  southwest   2007.94500
1337  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 6 columns]

In [38]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [39]:
df1=data.copy(deep=False)

In [40]:
df1.drop(columns='sex',inplace=True)

In [41]:
df1

      age     bmi  children smoker     region      charges
0      19  27.900         0    yes  southwest  16884.92400
1      18  33.770         1     no  southeast   1725.55230
2      28  33.000         3     no  southeast   4449.46200
3      33  22.705         0     no  northwest  21984.47061
4      32  28.880         0     no  northwest   3866.85520
...   ...     ...       ...    ...        ...          ...
1333   50  30.970         3     no  northwest  10600.54830
1334   18  31.920         0     no  northeast   2205.98080
1335   18  36.850         0     no  southeast   1629.83350
1336   21  25.800         0     no  southwest   2007.94500
1337   61  29.070         0    yes  northwest  29141.36030

[1338 rows x 6 columns]

In [42]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]